body {
    box-sizing: border-box;
    margin: 0;
    padding-top: 70px;
    background-color:antiquewhite;
}

.nav-tabs {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: black;
}

.nav-item {
    display: inline-block;
    padding: 25px;
    margin: 0px 10px;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

.nav-item:hover {
    background-color:red;
}